# Word documents
*.docx

# MATLAB / Simulink temporary & autosave files
*.asv
*.autosave
*.slxc
*.slx.r20*
*.mdl.r20*
*.m~ 
*.mlx~
slprj/
*_ert_rtw/
*_grt_rtw/
*_rtw/

# Simulink Test temporary files
*.tmp